<app-header headerTitle="Task" [headerBtn]="btnTmpl">
  <ng-template #btnTmpl>
    <button mat-flat-button color="primary" (click)="create()">Create</button>
    <button mat-flat-button color="warn">Delete</button>
  </ng-template>
</app-header>

<mat-card>
  <table mat-table style="width: 100%" [dataSource]="dataSource">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="start_date">
      <th mat-header-cell *matHeaderCellDef>Start</th>
      <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration (Day)</th>
      <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>
    <ng-container matColumnDef="job_type_value">
      <th mat-header-cell *matHeaderCellDef>Job Type</th>
      <td mat-cell *matCellDef="let element"> {{element.job_type_value}} </td>
    </ng-container>
    <ng-container matColumnDef="person_name">
      <th mat-header-cell *matHeaderCellDef>Person</th>
      <td mat-cell *matCellDef="let element"> {{element.person_name}} </td>
    </ng-container>
    <ng-container matColumnDef="work_hour">
      <th mat-header-cell *matHeaderCellDef>Work Hour</th>
      <td mat-cell *matCellDef="let element"> {{element.work_hour}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="edit(element.id)" color="primary">Edit</button>
        <button mat-button (click)="delete(element.id)" color="warn">Delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons (page)="getDatalist($event)" [length]="count"></mat-paginator>

</mat-card>
