<app-header [headerBtn]="btnTmpl"></app-header>
<ng-template #btnTmpl>
  <button mat-flat-button color="primary" (click)="create()">Create</button>
  <button mat-flat-button color="warn">Delete</button>
</ng-template>
<mat-card style="margin: 10px">
  <table mat-table style="width: 100%" [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>
    <ng-container matColumnDef="job">
      <th mat-header-cell *matHeaderCellDef> Job </th>
      <td mat-cell *matCellDef="let element"> {{element.job}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="edit(element.id)" color="primary">Edit</button>
        <button mat-button (click)="delete(element.id)" color="warn">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons (page)="getData($event)" [length]="count"></mat-paginator>

</mat-card>
