<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu">Scheduler</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/scheduler/person'" routerLinkActive="active">Person</button>
      <button mat-menu-item [routerLink]="'/scheduler/project'" routerLinkActive="active">Project</button>
      <!--<button mat-menu-item [routerLink]="'/scheduler/task'" routerLinkActive="active">Task</button>-->
      <!--<button mat-menu-item [routerLink]="'/scheduler/gantt'" routerLinkActive="active">Gantt</button>-->
    </mat-menu>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="userMenu">User</button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item [routerLink]="'/user/profile'">
        <mat-icon>settings</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="signOut()" >
        <mat-icon>power_settings_new</mat-icon>
        <span>Sign Out</span>
      </button>
      <!--<button mat-menu-item [routerLink]="'/scheduler/task'" routerLinkActive="active">Task</button>-->
      <!--<button mat-menu-item [routerLink]="'/scheduler/gantt'" routerLinkActive="active">Gantt</button>-->
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<!--<app-task-gantt></app-task-gantt>-->
<div style="padding: 10px">
  <router-outlet></router-outlet>
</div>
