<app-header [headerTitle]="titleTmpl">
  <ng-template #titleTmpl>
    <div style="display: flex; align-items: center; justify-content: space-between">
      <span>Gantt</span>
      <div>
        <button mat-flat-button color="primary" (click)="showGroups()">{{grouped ? 'Raw' : 'Group by owner'}}</button>
        <button mat-flat-button color="primary" (click)="saveData()">Save</button>
      </div>
    </div>
  </ng-template>
</app-header>
<div #gantt_here style='float: left; width: 100%; height: 750px;'></div>
